*{
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
body{
    background:linear-gradient(to right, rgb(109, 57, 177), rgb(98, 41, 116));
}

.topbar{
    color: rgb(48, 47, 47);
    padding:0px 20px;
    display: flex;
    background-color: rgb(234, 232, 235);
    border-radius: 5px 5px 0px 0px;
    max-width: 1000px;
    margin: auto;

}
.esquerdo img{
    height: 25px;
    width: 100%;
}
.esquerdo h2{
    margin: 0;
    font-size: 20px;
}
.esquerdo p{
    margin: 0;
    font-size: 10px;
    width: 120px;
}
.direito{
   align-content: center;
}
.direito h2{
    margin: 0;
    font-size: 20px;
    text-align: right;
}
.direito p{
    margin: 0;
    font-size: 10px;
    width: 180px;
    text-align: right;
}
.direito div{
    background-color: rgb(98, 41, 116);
    border-radius: 3px;
    padding: 1px 5px;
    color: rgb(234, 232, 235);

}
.centro{
    align-content: end;
    margin: 0 5px;
    flex: 1;
    padding: 5px 0px;
    text-align: right;
}
.centro p{
    font-size: 13px;
    padding:0;
    border-bottom: 2.5px solid rgb(27, 27, 27);
    margin: 0;
}
.banners{
    display: flex;
    max-width: 1000px;
    margin: auto;
    gap: 20px;
    padding: 15px 0 ;
}
.banners img{
    height: auto;
    width: 320px;
}
.bannercentral{
    display: flex;
    position: relative;
    padding-bottom: 230px;
    z-index: 0;
    
}
.fotoprincipal{
    position: absolute;
    bottom: 0px;
    left: 580px;
    margin: auto;
}
.fotoprincipal img{
    width: auto;
    height: 650px;
}
.dadosprincipais{
    position:absolute;
    bottom: 160px;
    right: 760px;
    z-index: 1;
}
.dadosprincipais p{
    margin: 0;
    align-items: center;
    font-size: large;
    font-size: 30px;
}
.maospray{
    position: absolute;
    bottom: 0px;
    right: 520px;
}
.barrainferior{ 
    background: rgb(234, 232, 235);
    border-radius: 0px 0px 5px 5px;
    max-width: 1000px;
    display: flex;
    margin: auto;
    padding: 0px 20px;
    z-index: 1;
    position:relative;
    top: -30px;
}
